src/main/mule/test-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3d7ade30-9cdc-4b87-afe6-dd502dd5eace" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test-appFlow" doc:id="422d2103-f481-4806-adb0-8db0e897ee71" >
		<http:listener doc:name="Listener" doc:id="72a01e2b-b863-4bd7-b39e-564edbb7db8c" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["ok"]' doc:name="Set Payload" doc:id="120fdf11-3d85-4873-8f06-327b2d83d1b4" />
		<logger level="INFO" doc:name="Logger" doc:id="8e9f352f-7b75-4a91-87f3-2e81b80cc643" message="#[payload]"/>
	</flow>
</mule>
